<!DOCTYPE html>
<html>
<head>
  <title>Happy birthday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="shui">
<br>
<div id='cssmenu'>
<ul>
   <li class='active'><a href='/posts'><span>Home</span></a></li>
   <li><a href='http://youtu.be/30AErTZe2lU'><span>Video</span></a></li>
   <li><a href='#'><span>Collage</span></a></li>
   <li class='last'><a href='https://www.facebook.com/honeyslawyer'><span>Contact</span></a></li>
</ul>
</div>
<br>
<div id="headings">
<h1>Happy birthday!!</h1>
<h3>Dedicated to you by your loved ones!</h3>
</div>
<br>
<br>
</div>

<%= yield %>

</body>
</html>
